:root {
    --primary-color: #2b5166;
    --secondary-color: #5a8ea2;
    --accent-color: #92dff3;
    --light-color: #e0f2f7;
    --dark-color: #1a3340;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans";
}

body,
html {
    min-height: 100%;
    scroll-behavior: smooth;
}

.center {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 2%;
    width: 100%;
}

main {

    min-height: 700px;
    width: 100%;
    position: relative;
}

main .img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 2s;
}

main .img:nth-of-type(1) {
    background-image: url("../imgs/main/01.jpg");
}

main .img:nth-of-type(2) {
    background-image: url("../imgs/main/02.jpg");
}

main .img:nth-of-type(3) {
    background-image: url("../imgs/main/02.jpg");
}

main::after {
    content: '';
    background-color: #0b161dc6;
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

main header {
    position: absolute;
    z-index: 5;
    width: 100%;
}

header .center {
    z-index: 2;
}

header .center nav {
    width: 100%;
}

header .center ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    z-index: 2;

}

header ul li {
    list-style: none;
    padding: 10px 15px;
}

header nav a {
    color: #FFF;
    font-style: italic;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.8rem;
}

main .content-main {
    color: #FFF;   
    padding: 140px 10px 60px 10px;

    text-align: center;
    width: 100%;
    position: relative;
    z-index: 2;
}

.content-main h1 {
    font-size: 3.5rem;
    font-family: "Raleway";
}

.content-main p {
    display: block;
    font-family: "Merriweather Sans";
    font-style: italic;
    font-weight: 100;
    font-size: 1.2rem;
    max-width: 800px; 
    margin: 0 auto;
    padding-top: 30px;
}

.content-main button {
    background-color: #1a3340;
    border: 0;
    border-radius: 2rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;   
    margin-top: 40px;
    padding: 10px 50px;
    outline: none;    
}

.sobre,
.destaques,
.servicos {
    padding: 40px 0;
    text-align: center;
    min-height: 600px;
}

.sobre .flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.sobre .conteudo {
    display: flex;
    min-height: 400px;
    width: 50%;
    padding: 0 .5rem;
    flex-direction: column;
    justify-content: space-around;
}

.sobre .conteudo h2{
    color: #1a3340;
    font-size: 2.5rem;
    font-family: "Raleway";
}

.sobre .conteudo p{
    color: #1a3340;
    font-size: 1.2rem;
    font-family: "Merriweather Sans";
    font-style: italic;
    font-weight: 200;
    padding-top: 15px;
}

.sobre .img {

    height: 600px;
    padding:0 15px;
    object-position: center;
    width: 50%;
}

.sobre .img img {
    object-fit: cover;
    object-position: left top;
    width: 100%;
    height: 100%;
}

.servicos {
    background-color: #1a3340;
}

.servicos h2{
    color: #FFF;
    font-size: 2.5rem;
    font-family: "Raleway";
}

.servicos .flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.servicos .flex .card-item {

    width: calc(100% /3 );
    padding: 15px;
    margin-top: 20px;
}

.servicos .flex .card-item .content {
    border-radius: 10px;
    cursor: pointer;
    min-height: 250px;
    max-width:  250px;
    margin: 0 auto;
    position: relative;
    width: 100%;

}

.servicos .flex .card-item .content::after {
    content: '';
    background-color: #00000017;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;

    border-radius: 10px;
}

.servicos .flex .card-item .content img {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
    object-fit: 100% 100%;
    height: 100%;
    width: 100%;

}

.servicos .flex .card-item .content span {
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Merriweather Sans';
    font-weight: 100;
    position: absolute;
    bottom: 10%;
    right: 5%;
    transition: 1s;
    z-index: 30;
    text-align: right;

}

.servicos .flex .card-item .content span:nth-of-type(2) {
    opacity: 0;

}

.servicos .flex .card-item .content:hover {
    
    transition: 1s;

    span:nth-of-type(1) {
        opacity: 0;
        transition: 1s;
    }

    span:nth-of-type(2) {
        opacity: 1;
        transition: 1s;
    }

    img:last-of-type {
        opacity: 0;
    }
}

.destaques h2{
    color: #1a3340;
    font-size: 3rem;
    font-family: "Raleway";
}

.destaques .flex{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.destaques .flex .container-imgs{
    min-height: 500px;
    position: relative;
    width: 70%;
}

.destaques .flex .container-imgs div{
    transition: 1s;
}

.destaques .flex .container-imgs div img{
    height: 500px;
    width: 100%;
}

.destaques .flex .container-imgs div:nth-of-type(1){

    min-height: 450px;
    position: absolute;
    width: 100%;

    max-width: 500px;
}

.destaques .flex .container-imgs div:nth-of-type(2){

    min-height: 450px;
    position: absolute;
    width: 100%;

    max-width: 500px;
}

.destaques .flex .container-imgs div:nth-of-type(3){
    min-height: 450px;
    position: absolute;

    width: 100%;
    max-width: 500px;
}

.contato {
    background-color: #fff;
    padding: 60px 0;
}

.contato h2{
    color: #1a3340;
    font-size: 3rem;
    font-family: "Raleway";
    padding: 30px 0;
    text-align: center;
}

.contato .flex {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.contato .flex .card {
    margin: 0 1rem;
    transition: 1s;
}

.contato .flex a  {
    color: rgb(114, 105, 105);    
    display: block;
    text-decoration: none;
    text-align: center;
}

.contato .flex a  i{
    font-size: 3rem;
}

.contato .flex a span{ 
    color: #25d366;
    font-size: 0.8rem;
    font-weight: bold;
    
}

.contato .flex .card:nth-of-type(1) a { 
    color: #25d366;
}
.contato .flex .card:nth-of-type(2) a { 
    background: linear-gradient(to right, #833ab4, 40%, #fd1d1d, #fcb045);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
.contato .flex .card:nth-of-type(3) a,.contato .flex .card:nth-of-type(3) a span { 
    color: #EA4335;
}

.contato .flex .card:hover  {
    transform: scale(1.2);
    transition: .5s ease-in-out;
}


footer {
    background-color: #1a3340;    
    padding: 30px 0;    
}

footer h3{
    color: #FFF;
    font-family: "Merriweather Sans";
    font-weight: 100;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .sobre .center .flex{
        flex-direction: column-reverse;
    }

    .sobre .center .flex .conteudo,
    .sobre .center .flex .img{
       width: 100%;
    }

    .sobre .center .flex .img{
      height: 700px;
    }
}

@media screen and (max-width: 512px) {
    .servicos .center .flex .card-item{
        width: calc(100% / 2);
    }

    .servicos .center .flex .card-item:nth-of-type(n+5){
        display: none;
    }

    .sobre .center .flex .img img{

        object-position: center;
    }


}